<p>
  <a href="https://bootstrap-levels.matchthetarget.com/levels/00_primary_button" target="_blank">Target</a>
</p>

<span>Click me!</span>

<style>

  /* Add your CSS here */
  span {
    background-color: blue;
    color: white;
    padding: 5px 10px 5px 10px;
    border-radius: 5px;

    box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
    -webkit-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
    -moz-box-shadow: 2px -1px 66px 39px rgba(0, 0, 0, 0.33) inset;
  }

  span:hover {
    background-color: darkblue;
  }

  span:active {
    background-color: blue;
  }

</style>
